nav {
    border-bottom: 1px solid black;
    /* position: fixed; */
    width: 100%;
}

.navigation ol {
    list-style-type: none;
    padding-left: 0;
}

.navigation {
    display: inline-block;
}

.navigation a::after {
    display: inline-block;
    color: #000;
    content: '';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}